<div class="modal-header">
    <h3 class="modal-title">Twitter Friends</h3>
</div>

<div class="modal-body">
  <form class="friends-list" ng-model="form">
    <ul>
      <li ng-repeat="friend in friends">
        <div class="">
          
          <input checked="checked" type="checkbox" ng-click="toggle_checkbox(friend.id);" id="friend{{friends.indexOf(friend)}}"   />
          
          <label for="friend{{friends.indexOf(friend)}}">
            <img ng-src="{{friend.profile_image_url}}" />
            <strong>{{friend.name}}</strong>
          </label>
        </div>
      </li>
    </ul>

    <textarea ng-model="message">
      
    </textarea>

    <button ng-show="!sending_runing" ng-click="sendMessage();" class="btn btn-primary" type="button">Send</button>

    <button ng-show="sending_runing" class="btn btn-primary" type="button">{{sending}}</button>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="close();" >Cancel</button>
</div>