<header>
    <div class="container">
      <div class="logo">
          <a href="#">
            Logo <span style="font-size: 11px; font-weight: 500;">beta</span>
          </a>
      </div>
    </div>
</header>

<div class="container content">

  <div class="invitations">
    <a href="" class="btn-facebook btn" ng-click="main.shareFacebook();">
      Invite from Facebook
      <i class="fa fa-facebook"></i>
    </a>

    <span id="google" class="btn g-interactivepost"
        data-clientid="749173953264-5os6rd8t3cqc8kcpdfqbtpggik776b7v.apps.googleusercontent.com"
        data-contenturl="https://logo-social-api.herokuapp.com"
        data-calltoactionlabel="INVITE"
        data-calltoactionurl="https://developers.google.com/+/web/share/interactive?invite=true"
        data-cookiepolicy="single_host_origin"
        data-prefilltext="{{main.text}}">
      <span class="label">Invite from Google+</span>
      <i class="fa fa-google-plus"></i>
    </span>


    <button class="btn" ng-click="main.authenticate('twitter')">
      Invite from Twitter
      <i class="fa fa-twitter"></i>
    </button>
  </div>

  <div class="text-content">
    <h1>Lorem ipsum dolor sit amet</h1>
    <p>{{main.text}}</p>
  </div>
</div>

<footer >
  <div class="container">
    <ul>
      <li> © Logo - English(UK)</li>
      <li><a href="#" target="_blank" title="Logo Blog">Blog</a></li>
      <li><a href="#" target="_blank" title="Logo Privacy">Privacy</a></li>
      <li><a href="#" title="Logo Terms">Terms</a></li>
      <li><a href="#" target="_blank" title="Logo Cookies">Cookies</a></li>
    </ul>
  </div>
</footer>