/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

body{
  font-family: 'Lato', sans-serif !important;
  background-color: #ebf0f2;
}

.invitations{
  margin:30px 0 40px 100px;
}

.btn{
  background-color: #46496b;
  cursor:pointer;
  color: #FFF;
  cursor:pointer;
  border: 0px;
  line-height: 30px;
  padding: 5px 10px;
  font-family: 'Lato', sans-serif !important;
  font-size: 12px;
  font-weight: 300;
  border: 1px #46496b solid;
  margin:0 2px;

  &:hover, &:focus{
    color: #46496b;
    background-color: #FFF;

    span{
      color: #46496b;
    }
  }

  span{
    font-family: 'Lato', sans-serif !important;
    font-size: 12px;
    font-weight: 300;
  }
}

.friends-list{
  ul{
    overflow-y: scroll;
    height: 200px;
    list-style: none;
  }

  textarea{
    width: 100%;
    height: 100px;
  }
}

header{
  height: 60px;
  padding-top: 8px;
  position: fixed;
  width: 100%;
  z-index: 111;
  background: #30324a;

  .logo{
    margin-top: 5px;
    a{
      font-weight: 900;
      font-size: 21px;
      color: #fff;

      &:hover{
        text-decoration: none;
      }
    }
  }
}

.content{
  background: #FFF;
  padding: 100px 0 0 0;
  height:600px;

  .text-content{
    padding: 0 100px;
    
    h1{
      font-weight: 900;
      margin-top: 20px;
      color: #004B98;
      font-size: 20px;
    }

    p{
      font-size: inherit;
      line-height: 1.6;
      margin-bottom: 1rem;
    }
  }
}

footer{
  color: #999;
  padding: 20px 0px;
  font-size: 12px;

  ul{
    list-style: none;
    padding: 0px;

    li{
      float: left;
      margin-right: 10px;
      padding: 0px;

        a{
          color: #999;
          text-decoration: none;
        }
    }
  }
}

.modal-title{
  font-weight: 900;
  color: #004B98;
  font-size: 20px;
}

.modal-footer{
  button{
    padding: 0px 30px;
  }
}

.modal-body {

  ul{
    padding: 0px;
    li{
      font-size: 12px;
      color: #004B98;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0px;

      img{
        width: 40px;
      }

      strong{
        padding-left: 10px;
      }
    }
  }
  textarea{
    padding:5px;
    border-radius: 2px;
    border: #999 solid 1px;
    font-size: 12px;
    color: #999;
  }

  button{
    padding: 0px 30px;
  }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
